<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vivero</title>
    <link rel="stylesheet" href="../CSS/estilos.css" />
</head>

<body>
    <div id="sidebar">
        <ul>
            <li><a href="/View/index.html">Inicio</a></li>
            <li><a href="/View/plantas.html">Plantas</a></li>
            <li><a href="/View/macetas.html">Macetas</a></li>
            <li><a href="/View/herramientas.html">Herramientas</a></li>
        </ul>


        <br><br><br><br><br>
        <div class="img">
            <a href="./inicio_sesion.html"><img src="/img/logo_login.svg" alt="" class="img_1"></a>
            <br><br><br>
            <img src="/img/logo_user.svg" alt="" class="img_2">
        </div>

    </div>

    <div id="contenedor">
        <h1>Herramientas en Tienda</h1>
        <div class="contenedor-cartas">
            <div class="carta">
                <img src="https://images.pexels.com/photos/6692152/pexels-photo-6692152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Imagen de la carta">
                <div class="contenido-carta">
                    <h3 class="titu">Macetas Rusticas</h3>
                    <p>Macetas de barro y arcilla</p>
                </div>
            </div>
            <div class="carta">
                <img src="https://images.pexels.com/photos/7663957/pexels-photo-7663957.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Imagen de la carta">
                <div class="contenido-carta">
                    <h3 class="titu">Macetas medianas</h3>
                    <p>Maceta mediana para todo tipo de planta</p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>