<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vivero</title>
    <link rel="stylesheet" href="../CSS/estilos.css" />
</head>

<body>
    <div id="sidebar">
        <ul>
            <li><a href="/View/index.html">Inicio</a></li>
            <li><a href="/View/plantas.html">Plantas</a></li>
            <li><a href="/View/macetas.html">Macetas</a></li>
            <li><a href="/View/herramientas.html">Herramientas</a></li>
        </ul>


        <br><br><br><br><br>
        <div class="img">
            <a href="./inicio_sesion.html"><img src="/img/logo_login.svg" alt="" class="img_1"></a>

            <br><br><br>
            <img src="/img/logo_user.svg" alt="" class="img_2">
        </div>

    </div>

    <div id="contenedor">
        <h1>El mejor vivero de Cochabamba</h1>
        <p class="text" >Tenemos todo tipo de plantas, tanto occidentales como orientales</p>

        <img src="/img/tree.jpg" alt="" class="img_tree">



        <footer>
            <div class="footer" >
                <hr>
                <h2>Redes sociales</h2>
    
    
                <p class="copyright">Copyright &copy; 2024 - Desarrollado por Andre</p>
    
                <a href="https://www.facebook.com/andre.villarroelvalencia" class="logo_facebook" >
                    <img src="/img/Logo_facebook.png" alt="">
                </a>
                <a href="https://api.whatsapp.com/send/?phone=67562659">
                    <img src="/img/whatsapp (1).png" alt="" class="logo_whats" >
                </a>
                <a href="https://www.instagram.com/nico_villarroelv/" >
                    <img src="/img/inst.png" alt="" class="logo_insta">
                </a>
                <hr>
            </div>
        </footer>
    </div>
</body>

</html>