<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vivero</title>
    <link rel="stylesheet" href="../CSS/estilos.css" />
</head>

<body>
    <div id="sidebar">
        <br>
        <ul>
            <li><a href="/View/index.html">Inicio</a></li>
            <li><a href="/View/plantas.html">Plantas</a></li>
            <li><a href="/View/macetas.html">Macetas</a></li>
            <li><a href="/View/herramientas.html">Herramientas</a></li>
        </ul>


        <br><br><br><br><br>
        <div class="img">
            <a href="./inicio_sesion.html"><img src="/img/logo_login.svg" alt="" class="img_1"></a>
            <br><br><br>
            <img src="/img/logo_user.svg" alt="" class="img_2">
        </div>

    </div>

    <div id="contenedor">
        <h1>Nuestras Plantas</h1>
        <div class="contenedor-cartas">
            <div class="carta">
                <img src="https://images.pexels.com/photos/213727/pexels-photo-213727.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Imagen de la carta">
                <div class="contenido-carta">
                    <h3 class="titu">Planta Gomero</h3>
                    <p>Planta que necesita de mucho espacio, ya que crecen grandes</p>
                </div>
            </div>
            <div class="carta">
                <img src="https://images.pexels.com/photos/776656/pexels-photo-776656.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Imagen de la carta">
                <div class="contenido-carta">
                    <h3 class="titu">Plantas Pequeñas</h3>
                    <p>Plantas pequeñas de poco cuidado, ya que son cactus</p>
                </div>
            </div>
        </div>
        <div class="contenedor-cartas">
            <div class="carta">
                <img src="https://images.pexels.com/photos/2251511/pexels-photo-2251511.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Imagen de la carta">
                <div class="contenido-carta">
                    <h3 class="titu">Planta Lluvia de Oro</h3>
                    <p>Arbol grande que da flores amarillas en primavera</p>
                </div>
            </div>
            <div class="carta">
                <img src="https://images.pexels.com/photos/1047285/pexels-photo-1047285.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Imagen de la carta">
                <div class="contenido-carta">
                    <h3 class="titu">Todo tipo de palmeras</h3>
                    <p>Desde palmera arecas, abanico, daditeleras, etc</p>
                </div>
            </div>
        </div>
        <div class="contenedor-cartas">
            <div class="carta">
                <img src="https://images.pexels.com/photos/793012/pexels-photo-793012.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Imagen de la carta">
                <div class="contenido-carta">
                    <h3 class="titu">Plantas para regalar</h3>
                    <p>Diferentes plantas pequeñas para regalar</p>
                </div>
            </div>
            <div class="carta">
                <img src="https://images.pexels.com/photos/3854750/pexels-photo-3854750.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Imagen de la carta">
                <div class="contenido-carta">
                    <h3 class="titu">Plantas para oficna</h3>
                    <p>Plantas para decorar oficinas o cuartos</p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>